<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5fe8e9620f.js" crossorigin="anonymous"></script>
</head>
    <body>
        <div class="container-fluid">
            <div class="test shadow p-3 mb-5 rounded"><h1>Trivia Game</h1></div>
            <div class="category"><h1><%=category%></h1></div>
            <div class="questionBox shadow p-3 mb-5 rounded">
                <p><%=question%></p>
            
                <% for (let i = 0; i < allAnswers.length; i++){ %>
                    <button class="btn choiceButton" type="button" name="button" value=<%=i%>><%=choices[i]%> <%=allAnswers[i]%></button>
                
                <% } %>
            </div>
        </div>

        <form action="/redirect" method="post">
            <button class="btn nextButton">Next <i class="fa-solid fa-right-long"></i></i></i></button>
        </form>
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
            $(".choiceButton").click(function(event){

                if (event.currentTarget.value == <%=correctAnswerIndex%>){
                    $(this).addClass("correct");
                } else {
                    $(this).addClass("incorrect");
                }
   
            });
        </script>
        
    </body>
</html>